
<div style="text-align:center;margin-top:25px;">
<h1> The Most Impossible Game </h1>
  <%= image_tag "https://media.giphy.com/media/h36vh423PiV9K/giphy.gif" %> <br><br>
  <%= submit_tag('Enter if you dare...', class: "button") %>
</div>